<div class="modal-createEvent modal-content">
    <span class="close"><i class="fa fa-close fa-md"></i></span>

    <h1>Create an Event</h1>

    <input type="text" name="title" placeholder="Enter a name for your event" class="modal-createEvent-titleInput">
    <span class="modal-createEvent-timeInput">
        <p>Start</p>
        <input type="time" name="startTime">
        <input type="date" name="startDate">
    </span>
    <span class="modal-createEvent-timeInput">
        <p>End</p>
        <input type="time" name="endTime">
        <input type="date" name="endDate">
    </span>
    <span>
        <p>Location</p>
        <input type="text" name="location" placeholder="Enter your event's location">
    </span>
    <span>
        <p>Description</p>
        <input type="" name="name" value="" row="10">
    </span>
    <span>
        <p>Invite Friends</p>
        <input
            id="modal-createEvent-friends-searchbar"
            type="text"
            list="modal-createEvent-friends-list"
            name="name"
            placeholder="Search through friends"
            autocomplete="off"
        >
        <datalist id="modal-createEvent-friends-list">
            <!-- load friends here through ajax calls -->
        </datalist>
    </span>
    <button ng-click="debugThisShit()">Create</button>


    <script type="text/javascript" src="app/createEvent.js"></script>
</div>
