<div class="modal-createEvent modal-content">
    <script type="text/javascript" src="app/createEvent.js"></script>
    <span class="close"><i class="fa fa-close fa-md"></i></span>

    <h1>Create an Event</h1>

    <span class="modal-createEvent-titleInput">
        <p>Title</p>
        <input type="text" id="eventTitle" placeholder="Enter a name for your event">
    </span>
    <span class="modal-createEvent-timeInput">
        <p>Start</p>
        <input type="time" id="startTime">
        <input type="date" id="startDate">
    </span>
    <span class="modal-createEvent-timeInput">
        <p>End</p>
        <input type="time" id="endTime">
        <input type="date" id="endDate">
    </span>
    <span class="modal-createEvent-locationInput">
        <p>Location</p>
        <input type="text" name="location" placeholder="Enter your event's location">
    </span>
    <span class="modal-createEvent-descInput">
        <p>Description</p>
        <input type="" name="name" value="" row="10" placeholder="Write a description for your event">
    </span>
    <span class="modal-createEvent-friendsInput">
        <p>Invite Friends</p>
        <input
            id="modal-createEvent-friends-searchbar"
            type="text"
            list="modal-createEvent-friends-list"
            name="name"
            placeholder="Search through friends"
            autocomplete="off"
        >
        <datalist id="modal-createEvent-friends-list"></datalist>
    </span>

    <button id="submitEvent" onclick="debug()">Create</button>

</div>
