<div class="modal-editEvent modal-content" ng-controller="calendarCtrl">
    <span class="close"><i class="fa fa-close fa-md"></i></span>

    <div class="modal-editEvent-name">
        <h2 id="editEventTitle"></h2>
    </div>
    <h1 id="editEventID"></h1>
    <div class="modal-editEvent-timeInput">
        <label for="editStartTime">Start</label>
        <input type="time" id="editStartTime">
        <input type="date" id="editStartDate">
    </div>
    <div class="modal-editEvent-timeInput">
        <label for="editEndTime">End</label>
        <input type="time" id="editEndTime">
        <input type="date" id="editEndDate">
    </div>
    <div class="modal-editEvent-textInput">
        <label for="location">Location</label>
        <input type="text" id="editLocation">
    </div>
    <div class="modal-editEvent-textInput">
        <label for="description">Description</label>
        <input type="text" id="editDescription">
    </div>
    <script type="text/javascript" src="app/editEvent.js"></script>
</div>
