<div class="modal-enroll modal-content">
    <span class="close">
        <i class="fa fa-close fa-md">
        </i>
    </span>
    
    <div class="modal-login-content">

        <h2>Add or Remove a Class</h2>
        
        <div>
            <div class="modal-enroll-content-fieldgroup">
                <input type="text" placeholder="section ID" id="sectionID">
            </div>

            <div class="modal-enroll-content-buttongroup">
                    <input type="button" value="Add" id="add" onclick="addClasses()"/>
                    <input type="button" value="Remove" id="remove" onclick="deleteClasses()"/>
            </div>
            
        </div>
    </div>
    
    <script type="text/javascript" src="app/enroll.js"></script>

</div>