<div class="modal-friends modal-content">
    <span class="close"><i class="fa fa-close fa-md"></i></span>
    <div class="modal-friends-content">

        <div class="modal-friends-content-sidebar" id="friends-sidebar"></div>

        <div class="modal-friends-content-main">
            <ul class="modal-friends-content-main-tablist">
                <li class="modal-friends-content-main-tablinks" onclick="openFriendsTab(event, 'notifsTab')">Notifications</li>
                <li class="modal-friends-content-main-tablinks" onclick="openFriendsTab(event, 'friendRequestsTab')">Friends Requests</li>
                <li class="modal-friends-content-main-tablinks" onclick="openFriendsTab(event, 'searchTab')">Search</li>
            </ul>
            <div class="modal-friends-content-main-tabcontent" id="notifsTab">
                <div class="friendnotif">
                    <img src="assets/img/placeholder.jpg" alt="notification source image" class="friendnotif-icon"/>
                    <p class="friendnotif-msg">Ooh looky a notifOoh looky a notifOoh looky a notifOoh looky a notifOoh looky a notifOoh looky a notif</p>
                </div>
                <div class="friendnotif">
                    <img src="assets/img/placeholder.jpg" alt="notification source image" class="friendnotif-icon"/>
                    <p class="friendnotif-msg">Ooh looky a notif</p>
                </div>
                <div class="friendnotif">
                    <img src="assets/img/placeholder.jpg" alt="notification source image" class="friendnotif-icon"/>
                    <p class="friendnotif-msg">Ooh looky a notif</p>
                </div>
                <div class="friendnotif">
                    <img src="assets/img/placeholder.jpg" alt="notification source image" class="friendnotif-icon"/>
                    <p class="friendnotif-msg">Ooh looky a notif</p>
                </div>
                <div class="friendnotif">
                    <img src="assets/img/placeholder.jpg" alt="notification source image" class="friendnotif-icon"/>
                    <p class="friendnotif-msg">Ooh looky a notif</p>
                </div>
                <div class="friendnotif">
                    <img src="assets/img/placeholder.jpg" alt="notification source image" class="friendnotif-icon"/>
                    <p class="friendnotif-msg">Ooh looky a notif</p>
                </div>
                <div class="friendnotif">
                    <img src="assets/img/placeholder.jpg" alt="notification source image" class="friendnotif-icon"/>
                    <p class="friendnotif-msg">Ooh looky a notif</p>
                </div>
                <div class="friendnotif">
                    <img src="assets/img/placeholder.jpg" alt="notification source image" class="friendnotif-icon"/>
                    <p class="friendnotif-msg">Ooh looky a notif</p>
                </div>
                <div class="friendnotif">
                    <img src="assets/img/placeholder.jpg" alt="notification source image" class="friendnotif-icon"/>
                    <p class="friendnotif-msg">Ooh looky a notif</p>
                </div>
                <div class="friendnotif">
                    <img src="assets/img/placeholder.jpg" alt="notification source image" class="friendnotif-icon"/>
                    <p class="friendnotif-msg">Ooh looky a notif</p>
                </div>
                <div class="friendnotif">
                    <img src="assets/img/placeholder.jpg" alt="notification source image" class="friendnotif-icon"/>
                    <p class="friendnotif-msg">Ooh looky a notif</p>
                </div>
            </div>
            <div class="modal-friends-content-main-tabcontent" id="friendRequestsTab">
                <h2>yas</h2>
            </div>
            <div class="modal-friends-content-main-tabcontent" id="searchTab">
                <h2>YES</h2>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="app/friendsMenu.js"></script>
</div>
