<div class="modal-login modal-content">

<!--    Add this to the login.js-->
    <span class="close"><i class="fa fa-close fa-md"></i></span>
    <div class="modal-login-content">

        <h2>Welcome!</h2>

        <div class="modal-login-content-tabgroup">
            <button id="login" class="tab login select" onclick = "loginSwitchTabs('login')">Login</button>
            <button id="signup" class="tab signup" onclick = "loginSwitchTabs('signup')">Signup</button>
        </div>

        <div>
        	<form onsubmit="return false">
	            <div class="modal-login-content-fieldgroup">
	                <input type="text" placeholder="username" id="username">
	                <input type="password" placeholder="Password" id="password">
	                <input type="email" placeholder="email" id="email">
	            </div>
	
	            <div class="modal-login-content-buttongroup">
	                <input type="submit" value="Login" id="submit" onclick="validateUser()"/>
	            </div>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="app/login.js"></script>
</div>
