<div class="modal-login modal-content">
    
<!--    Add this to the login.js-->
    <span class="close"><i class="fa fa-close fa-md"></i></span>
    <div class="modal-login-content">
        
        <h2>Welcome!</h2>
        
        <div id="container">    
            <div id="tabbox">
                <a href="#" id="signup" class="tab signup" onclick = "loginSwitchTabs()">Signup</a>
                <a href="#" id="login" class="tab select" onclick = "loginSwitchTabs()">Login</a>
            </div>
                
            <div id="panel">
                <div id="loginbox">
                    <input type="text" name="username" value="" placeholder="username" id="username">
                    <input type="password" name="Password" value="" placeholder="Password" id="password">
                </div>
                    
                <div id="signupbox">
                    <input type="text" name="email" value="" placeholder="email" id="email">    
                </div>
            </div>
                
            <div class="buttongroup">
                <input type="button" value="Login" id="submit" onclick="validateUser()"/>
            </div>   
        </div>
    </div>
</div>
