<div class="sidebar-container sidebar-container-logo">
	<a href="/"><img src="assets/img/placeholder.jpg" alt="placeholder" /></a>
</div>
<div class="sidebar-container sidebar-container-user" ng-controller="loginCtrl">
	<button class="sidebar-user" id="loginButton">
		<img src="assets/img/placeholder.jpg" alt="Profile Icon" class="sidebar-container-user-icon" align="middle">
		<h2 id="sidebarUser">Guest</h2>
	</button>
</div>
<div class="sidebar-container sidebar-container-function">
	<button class="btn sidebar-btn sidebar-container-function-element" id="createButton"><i class="fa fa-plus-circle fa-md"></i>  Create Event</button>
	<button class="btn sidebar-btn sidebar-container-function-element" id="uploadButton"><i class="fa fa-upload fa-md"></i>  Upload (.ics)</button>
	<button class="btn sidebar-btn sidebar-container-function-element" id="friendsButton"><i class="fa fa-address-book-o fa-md"></i>  Friends</button>
	<button class="btn sidebar-btn sidebar-container-function-element" id="enrollButton"><i class="fa fa-book fa-md"></i>  Enroll in a Class</button>
	<button class="btn sidebar-btn sidebar-container-function-element" id="commonButton"><i class="fa fa-search fa-md"></i>  Find Common</button>
</div>
<div class="sidebar-container sidebar-container-notifs">
	<div class="eventnotif">
		<h3>hello</h3>
		<p>
			notif
		</p>
	</div>
	<div class="eventnotif">
		<h3>hello</h3>
		<p>
			notif
		</p>
	</div>
	<div class="eventnotif">
		<h3>hello</h3>
		<p>
			notif
		</p>
	</div>
	<div class="eventnotif">
		<h3>hello</h3>
		<p>
			notif
		</p>
	</div>
	<div class="eventnotif">
		<h3>hello</h3>
		<p>
			notif
		</p>
	</div>
	<div class="eventnotif">
		<h3>hello</h3>
		<p>
			notif
		</p>
	</div>
	<div class="eventnotif">
		<h3>hello</h3>
		<p>
			notif
		</p>
	</div>
	<div class="eventnotif">
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<p>
			notif
		</p>
	</div>
</div>
