<div class="sidebar-container sidebar-container-logo">
	<a href="/"><img src="assets/img/placeholder.jpg" alt="placeholder" /></a>
</div>
<div class="sidebar-container sidebar-container-user">
	<button class="sidebar-user" id="loginButton">
		<img src="assets/img/placeholder.jpg" alt="Profile Icon" class="sidebar-container-user-icon" align="middle">
		<h2>Clifford Lee</h2>
	</button>
</div>
<div class="sidebar-container sidebar-container-function">
	<button class="btn sidebar-btn sidebar-container-function-element"><i class="fa fa-upload fa-md"></i> Upload (.pdf/.ics)</button>
	<button class="btn sidebar-btn sidebar-container-function-element"><i class="fa fa-address-book-o fa-md"></i> Friends</button>
	<button class="btn sidebar-btn sidebar-container-function-element"><i class="fa fa-book fa-md"></i> Enroll in a Class</button>
	<button class="btn sidebar-btn sidebar-container-function-element"><i class="fa fa-search fa-md"></i> Find Common</button>
</div>
<div class="sidebar-container sidebar-container-notifs">
	<div class="notif">
		<h3>hello</h3>
		<p>
			notif
		</p>
	</div>
	<div class="notif">
		<h3>hello</h3>
		<p>
			notif
		</p>
	</div>
	<div class="notif">
		<h3>hello</h3>
		<p>
			notif
		</p>
	</div>
	<div class="notif">
		<h3>hello</h3>
		<p>
			notif
		</p>
	</div>
	<div class="notif">
		<h3>hello</h3>
		<p>
			notif
		</p>
	</div>
	<div class="notif">
		<h3>hello</h3>
		<p>
			notif
		</p>
	</div>
	<div class="notif">
		<h3>hello</h3>
		<p>
			notif
		</p>
	</div>
	<div class="notif">
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<h3>hello</h3>
		<p>
			notif
		</p>
	</div>
</div>
