<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>USCalendar</display-name>

    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>user.Login</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>UserLogoutServlet</servlet-name>
        <servlet-class>user.Logout</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>UserCreateServlet</servlet-name>
        <servlet-class>user.Create</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>EventServlet</servlet-name>
        <servlet-class>calendar.EventServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>CalendarServlet</servlet-name>
        <servlet-class>calendar.CalendarServlet</servlet-class>
    </servlet>




    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/user/login</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>UserLogoutServlet</servlet-name>
        <url-pattern>/user/logout</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>UserCreateServlet</servlet-name>
        <url-pattern>/user/create</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>EventServlet</servlet-name>
        <url-pattern>/event</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>CalendarServlet</servlet-name>
        <url-pattern>/calendar</url-pattern>
    </servlet-mapping>

</web-app>
