# System files
.DS_Store

# Development assets
bower_components/
node_modules/

# *.scss files that are eventually compiled into working css
assets/scss/
*.scss

# Backend Ignores
*.class
/bin/
*.classpath
#*.project
*/classes
