// editEvent.scss

.modal-editEvent {
    background-color: #FEFEFE;
    margin: 5% auto;
    padding: 20px;
    width: 40%;
    height: 60%;
    border-radius: 15px;
    display: flex;
    flex-flow: column nowrap;

    &-editform {
        width: 80%;
        background-color: salmon;
        margin: 0 auto;
        &-titleInput {
            width: 80%;
            margin: 2% 0;
            display: flex;
            flex-flow: column nowrap;
            input[type="text"] {
                width: 20vw;
                font: {
                    size: 16px;
                }
            }
        }
        &-timeInput {
            display: flex;
            flex-flow: column nowrap;
            width: 80%;
            margin: 2% 0;
            input {
                font: {
                    size: 16px;
                }
            }
        }

        &-locationInput {
            display: flex;
            flex-flow: column nowrap;
            width: 80%;
            margin: 2% 0;
            input {
                font: {
                    size: 16px;
                }
            }
        }

        &-descInput {
            display: flex;
            flex-flow: column nowrap;
            width: 80%;
            margin: 2% 0;
            textarea {
                font: {
                    size: 14px;
                }
                height: 60px;
            }
        }

        &-buttongroup {
            margin: 0 auto;
        }
    }
}

// editEvent.scss EOF
