// friends.scss

.modal-friends {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    width: 60%;
    border-radius: 15px;
    &-content {
        display: flex;
        flex-flow: row nowrap;
        &-sidebar {
            width: 30%;
            height: 500px;
            margin: 2.5% 0 2.5% 0;
            overflow: scroll;
            background-color: salmon;
            border-top-left-radius: 1em;
            border-bottom-left-radius: 1em;
        }
        &-main {
            width: 70%;
            margin: 2.5% 0 2.5% 0;
            background-color: lightblue;
            border-top-right-radius: 1em;
            border-bottom-right-radius: 1em;
        }
    }
}

// friends.scss EOF
