// login.scss

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css');

/* Modal Content/Box */
.modal-login {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 50%;
    border-radius: 15px;

    .login-form {
        width: 100%;
        margin: 6vh 0;
    }

    &-content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        input[type="text"],
        input[type="password"] {
            border-radius: 10px;
            border: #888 solid 0.1px;
            margin: 10px 0;
            padding: 5px 10px;
            height: 3vh;
            width: 100%;
            font: {
                size: 16px;
                weight: 100;
            }
            &:focus {
                outline: none;
            }
        }
        input[type="button"] {
            flex-grow: 1;
            max-width: 50%;
        }
        h2 {
            margin-top: 40px;
            font: {
                size: 32px;
                weight: 300;
            }
        }
        .buttongroup {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
        }
        .login-form {
            width: 80%;
        }
    }
}

/* Tabbed Panes */

#container {
    width:350px
}
#tabbox {
    height:40px
}
#panel {
    background-color:#FFF;
    height:250px;
}

.tab {
    background: #dedede;display: block;height: 40px;
    line-height: 40px;text-align: center;
    width: 80px;float: right;font-weight: bold;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius: 4px 4px 0px 0px;
}
a {
    color: #000;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.signup {
    margin-left:8px;
}
.select {
    background-color:#FFF;
}

#loginbox {
    min-height:150px;
    padding:10px;
}

#signupbox {
    min-height:150px;
    padding:10px;
    display:none;
}
