// upload.scss

.modal-upload {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 50%;
    border-radius: 15px;
    &-content {
        &-file-chooser {
            text-align: center;
            width: 100%;
            margin: 0 auto;
            #file {
                font: {
                    size: 16px;
                }
            }
        }
        &-buttongroup {
            text-align: center;
            button {
                padding: 1.5vh 2.5vh;
                cursor: pointer;
            }
        }
    }
}
