html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: "Helvetica", "Arial", sans-serif; }

html,
body {
  height: 100%;
  background-color: #F5F4F1; }

.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-align: center;
      align-items: center;
  height: 100%; }

.content {
  width: 100%; }

button:focus, .button:focus, a.button:focus, [type=submit]:focus, [type=button]:focus {
  outline: 0; }

* {
  font-family: "Helvetica", "Arial", sans-serif; }

html,
body {
  height: 100%;
  background-color: #F5F4F1; }

.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-align: center;
      align-items: center;
  height: 100%; }

.content {
  width: 100%; }

button:focus, .button:focus, a.button:focus, [type=submit]:focus, [type=button]:focus {
  outline: 0; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.fc-state-active {
  box-shadow: none;
  z-index: 0; }

.fc-state-default {
  box-shadow: none;
  background-image: none;
  text-shadow: none; }

.fc-state-disabled {
  background-image: none; }

.fc-state-down {
  box-shadow: none; }

.fc-state-down,
.fc-state-active {
  box-shadow: none;
  background-image: none; }

.fc-toolbar .fc-state-hover,
.fc-toolbar .ui-state-hover {
  z-index: 0; }

.fc-toolbar .fc-state-down {
  z-index: 0; }

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active {
  z-index: 0; }

.fc-toolbar button:focus {
  z-index: 0; }

.btn {
  background-color: #2A2D33;
  border: none;
  box-shadow: none;
  text-decoration: none; }

.eventnotif {
  margin: 10px;
  padding: 10px;
  min-height: 20%;
  max-height: 25%;
  overflow: auto;
  background-color: #EFEFEF;
  border-radius: 15px;
  box-shadow: 0px 5px 2px #888; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  transition: 0.3s; }
  .modal-content {
    box-shadow: -2px 5px 0px #666; }
  .modal-active {
    display: block; }

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

.friend {
  padding: 10px;
  background-color: #656B7E; }
  .friend-img {
    max-width: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle; }
  .friend h4 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    font-weight: 300; }

/* Modal Content/Box */
.modal-login {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  height: 50%;
  border-radius: 15px; }
  .modal-login .login-form {
    width: 100%;
    margin: 6vh 0; }
  .modal-login-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: center;
        align-items: center;
    width: 100%; }
    .modal-login-content input[type="button"] {
      -ms-flex-positive: 1;
          flex-grow: 1;
      max-width: 50%; }
    .modal-login-content h2 {
      margin-top: 40px;
      font-size: 32px;
      font-weight: 300; }
    .modal-login-content-tabgroup {
      -ms-flex-pack: center;
          justify-content: center;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
      margin: 20px 0; }
    .modal-login-content-fieldgroup {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      margin-bottom: 15px;
      transition: 0.3s; }
      .modal-login-content-fieldgroup #email {
        display: none; }
      .modal-login-content-fieldgroup input {
        width: 100%;
        border-radius: 10px;
        border: #888 solid 0.1px;
        margin: 10px auto;
        padding: 20px 10px;
        height: 3vh;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 100; }
        .modal-login-content-fieldgroup input:focus {
          outline: none; }
    .modal-login-content-buttongroup {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .modal-login-content-buttongroup input {
        width: 30%;
        position: relative;
        border: 2px solid #207cca;
        background-color: #fafafa;
        color: #207cca;
        border-radius: 8px; }
      .modal-login-content-buttongroup input:hover {
        background-color: #207cca;
        color: #fafafa; }

/* Tabbed Panes */
.tab {
  background-color: inherit;
  color: black;
  display: block;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 1vh 2vw;
  font-size: 16px; }

.select {
  background-color: #EFEFEF; }

.modal-upload {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  height: 50%;
  border-radius: 15px; }

.modal-friends {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  width: 60%;
  border-radius: 15px; }
  .modal-friends-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap; }
    .modal-friends-content-sidebar {
      width: 30%;
      height: 500px;
      margin: 2.5% 0 2.5% 0;
      overflow: scroll;
      background-color: #656B7E;
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em; }
    .modal-friends-content-main {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
      width: 70%;
      margin: 2.5% 0 2.5% 0;
      background-color: lightblue;
      border-top-right-radius: 1em;
      border-bottom-right-radius: 1em; }
      .modal-friends-content-main-tablist {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
        width: 100%; }
        .modal-friends-content-main-tablist li {
          cursor: pointer;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-positive: 1;
              flex-grow: 1;
          text-align: center;
          padding: 2.5%;
          background-color: green; }
          .modal-friends-content-main-tablist li:nth-child(1) {
            background-color: lightblue;
            display: block; }
          .modal-friends-content-main-tablist li:nth-child(3) {
            border-top-right-radius: 1em; }
      .modal-friends-content-main-tabcontent {
        display: none;
        padding: 2%;
        max-height: 436px;
        overflow: scroll; }

.friendnotif {
  margin: 10px; }
  .friendnotif-icon {
    max-width: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle; }
  .friendnotif-msg {
    display: inline-block;
    vertical-align: middle;
    max-width: 400px;
    max-height: 40px;
    overflow: scroll; }

.modal-createEvent {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  width: 40%;
  border-radius: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; }
  .modal-createEvent h1 {
    margin: 10px 0;
    font-size: 24px; }
  .modal-createEvent p {
    font-size: 14px;
    font-weight: 100; }
  .modal-createEvent input:focus {
    outline: none; }
  .modal-createEvent label {
    font-size: 14px; }
  .modal-createEvent-titleInput {
    width: 80%;
    margin: 2% 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap; }
    .modal-createEvent-titleInput input[type="text"] {
      width: 20vw;
      font-size: 16px; }
  .modal-createEvent-timeInput {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    width: 80%;
    margin: 2% 0; }
    .modal-createEvent-timeInput input {
      font-size: 16px; }
  .modal-createEvent-locationInput {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    width: 80%;
    margin: 2% 0; }
    .modal-createEvent-locationInput input {
      font-size: 16px; }
  .modal-createEvent-descInput {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    width: 80%;
    margin: 2% 0; }
    .modal-createEvent-descInput textarea {
      font-size: 14px;
      height: 60px; }
  .modal-createEvent-colorInput {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    width: 80%;
    margin: 2% 0; }
    .modal-createEvent-colorInput-select {
      font-size: 16px; }
  .modal-createEvent-friendsInput {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    width: 80%;
    margin: 2% 0;
    margin-bottom: 10%; }

span.close {
  text-align: right; }

#submitEvent {
  width: 10vw;
  padding: 5px 10px;
  border: none;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 100; }

.modal-editEvent {
  background-color: #FEFEFE;
  margin: 5% auto;
  padding: 20px;
  width: 40%;
  height: 60%;
  border-radius: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; }
  .modal-editEvent-editform {
    width: 80%;
    background-color: salmon;
    margin: 0 auto; }
    .modal-editEvent-editform-titleInput {
      width: 80%;
      margin: 2% 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }
      .modal-editEvent-editform-titleInput input[type="text"] {
        width: 20vw;
        font-size: 16px; }
    .modal-editEvent-editform-timeInput {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
      width: 80%;
      margin: 2% 0; }
      .modal-editEvent-editform-timeInput input {
        font-size: 16px; }
    .modal-editEvent-editform-buttongroup {
      margin: 0 auto; }

#calendar {
  padding: 2% 2%;
  width: 80%; }

#sidebar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  min-width: 92.7px;
  width: 20%;
  height: 100%; }

.sidebar-user {
  cursor: pointer;
  transition: 0.5s; }
  .sidebar-user:hover {
    background-color: #515867; }

.sidebar-container-logo {
  -ms-flex: 1;
      flex: 1;
  height: 10%; }
  .sidebar-container-logo img {
    max-height: 100%;
    min-width: 100%; }

.sidebar-container-user {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex: 1;
      flex: 1;
  background-color: #656B7E;
  cursor: pointer; }
  .sidebar-container-user-icon {
    margin: 0 20px;
    border-radius: 50%;
    height: auto;
    max-height: 50px;
    vertical-align: middle; }
  .sidebar-container-user h2 {
    -ms-flex-positive: 1;
        flex-grow: 1;
    display: inline-block;
    color: #FEFEFE;
    font-weight: 300;
    font-size: 16px; }
  .sidebar-container-user button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -ms-flex-align: center;
        align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-color: #656B7E;
    border: none; }

.sidebar-container-function {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  background-color: #2A2D33;
  -ms-flex: 2.5;
      flex: 2.5; }
  .sidebar-container-function-element {
    color: #CFCFCF;
    -ms-flex-positive: 1;
        flex-grow: 1;
    text-align: left;
    padding: 1vh 0 1vh 10%;
    letter-spacing: 0.8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 100;
    transition: 0.2s; }
    .sidebar-container-function-element:hover {
      color: #EFEFEF;
      zoom: 1.2; }

.sidebar-container-notifs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -ms-flex: 5.5;
      flex: 5.5;
  background-color: #656B7E; }

.sidebar-btn {
  width: 100%;
  transition: 0.3s; }

/* Modal Content/Box */
.modal-enroll {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  height: 50%;
  border-radius: 15px; }
  .modal-enroll-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: center;
        align-items: center;
    width: 100%; }
    .modal-enroll-content input[type="button"] {
      -ms-flex-positive: 1;
          flex-grow: 1;
      max-width: 50%; }
    .modal-enroll-content h2 {
      margin-top: 40px;
      font-size: 32px;
      font-weight: 300; }
    .modal-enroll-content-fieldgroup {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      margin-top: 20%;
      margin-bottom: 5%;
      transition: 0.3s; }
      .modal-enroll-content-fieldgroup input {
        width: 100%;
        border-radius: 10px;
        border: #888 solid 0.1px;
        margin: 10px auto;
        padding: 20px 10px;
        height: 3vh;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 100; }
        .modal-enroll-content-fieldgroup input:focus {
          outline: none; }
    .modal-enroll-content-buttongroup {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .modal-enroll-content-buttongroup input {
        width: 30%;
        position: relative;
        border: 2px solid #207cca;
        background-color: #fafafa;
        color: #207cca;
        border-radius: 8px; }
      .modal-enroll-content-buttongroup input:hover {
        background-color: #207cca;
        color: #fafafa; }

/* Modal Content/Box */
.modal-logout {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  height: 50%;
  border-radius: 15px; }
  .modal-logout-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: center;
        align-items: center;
    width: 100%; }
    .modal-logout-content input[type="button"] {
      -ms-flex-positive: 1;
          flex-grow: 1;
      max-width: 50%; }
    .modal-logout-content h2 {
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 32px;
      font-weight: 300; }
    .modal-logout-content-buttongroup {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .modal-logout-content-buttongroup input {
        width: 100%;
        size: 30px;
        position: relative;
        border: 2px solid #207cca;
        background-color: #fafafa;
        color: #207cca;
        border-radius: 8px; }
      .modal-logout-content-buttongroup input:hover {
        background-color: #207cca;
        color: #fafafa; }
