html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: "Helvetica", "Arial", sans-serif; }

html,
body {
  height: 100%;
  background-color: #F5F4F1; }

.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-align: center;
      align-items: center;
  height: 100%; }

.content {
  width: 100%; }

button:focus, .button:focus, a.button:focus, [type=submit]:focus, [type=button]:focus {
  outline: 0; }

.btn {
  background-color: #2A2D33;
  border: none;
  box-shadow: none;
  text-decoration: none; }

.notif {
  margin: 10px;
  padding: 10px;
  min-height: 20%;
  max-height: 25%;
  overflow: auto;
  background-color: #EFEFEF;
  border-radius: 15px;
  box-shadow: 0px 5px 2px #888; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  transition: 0.3s; }
  .modal-content {
    box-shadow: 0px 10px 5px #666; }

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

/* Modal Content/Box */
.modal-login {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  height: 50%;
  border-radius: 15px; }
  .modal-login-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: center;
        align-items: center; }
    .modal-login-content input[type="text"],
    .modal-login-content input[type="password"] {
      -ms-flex-positive: 1;
          flex-grow: 1;
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      width: 100%; }
      .modal-login-content input[type="text"]:focus,
      .modal-login-content input[type="password"]:focus {
        outline: none; }
    .modal-login-content h2 {
      font-size: 32px;
      font-weight: 300; }
    .modal-login-content .login-form {
      width: 80%; }
    .modal-login-content .login-submit {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }

#calendar {
  padding: 2% 2%;
  width: 80%; }

#sidebar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  min-width: 92.7px;
  width: 20%;
  height: 100%; }

.sidebar-container-logo {
  -ms-flex: 1;
      flex: 1;
  height: 10%; }
  .sidebar-container-logo img {
    max-height: 100%;
    min-width: 100%; }

.sidebar-container-user {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex: 1;
      flex: 1;
  background-color: #656B7E;
  cursor: pointer; }
  .sidebar-container-user-icon {
    margin: 0 20px;
    border-radius: 50%;
    max-height: 50px;
    vertical-align: middle; }
  .sidebar-container-user h2 {
    -ms-flex-positive: 1;
        flex-grow: 1;
    display: inline-block;
    color: #FEFEFE;
    font-weight: 300;
    font-size: 16px; }
  .sidebar-container-user button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -ms-flex-align: center;
        align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-color: #656B7E;
    border: none; }

.sidebar-container-function {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  background-color: #2A2D33;
  -ms-flex: 2.5;
      flex: 2.5; }
  .sidebar-container-function-element {
    color: #CFCFCF;
    -ms-flex-positive: 1;
        flex-grow: 1;
    text-align: left;
    padding: 2vh 0 2vh 10%;
    letter-spacing: 0.8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 100;
    transition: 0.2s; }
    .sidebar-container-function-element:hover {
      color: #EFEFEF;
      zoom: 1.2; }

.sidebar-container-notifs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -ms-flex: 5.5;
      flex: 5.5;
  background-color: #656B7E;
  overflow: scroll; }

.sidebar-btn {
  width: 100%;
  transition: 0.2s; }
  .sidebar-btn:hover {
    background-color: #656B7E; }
